@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
* {
    box-sizing: border-box;
    font-family: "Fredoka", serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #051014;
}

.section-title{
    align-content: center;
    height: 100px;
    max-width: 100vw;
    text-align: center;
}

.titulo {
    color: white;
    font-size: 32px;
}

.character-select-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.subtitle{
    color: white;
    font-size: 20px;
}

.cards{
    display: flex;
    gap: 10px;
    max-width: 100%;
    min-height: 100%;
    flex-wrap: wrap;
}

.mokepon-card{
    width: 200px;
    height: 100px;
    background-color: #046E8B;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    color: whitesmoke;
}

.mokepon-card img{
    width: 80px;;
}

.btn-pet{
    background-color: darkcyan;
    border-radius: 5px;
    border: none;
    color: #051014;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    margin-top: 30px;
    width: 100px;
}